body {
  font-family: 'PT Sans', sans-serif;
  background-color: #F1F1F1;
  background-image: url(the_open_experience.png);
  background-repeat: no-repeat;
  background-position: 15px 15px;
  background-size: 220px;
}

.dropdown {
  position: absolute;
  left: calc(50% - 150px);
  width: 300px;
  top:0;
  padding:10px 0;
  text-align: center;
  display: inline-block;
  background-color:#DDD;
  font-size:0.8rem;
  font-weight:bold;
  color:#666;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 280px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
  margin-top:10px;
  padding: 10px;
  z-index: 1;
}

.item {
  padding: 3px 5px;
  width: calc(100% - 10px);
  text-align:left;
  border-top: 1px solid #666;
  cursor:pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.main_container {
  width: calc(70% - 50px);
  height: 700px;
  padding: 25px;
  margin: 80px auto 100px auto;

  background-color: #DDD;

  overflow-y: auto;
  overflow-x: hidden;
}

.left_arrow {
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-right:50px solid #DDD;
  position: absolute;
  left:calc(50% - 35% - 25px - 50px);
  top:calc(310px - 50px);
  cursor: pointer;
}

.right_arrow {
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left:50px solid #DDD;
  position: absolute;
  left:calc(50% + 35% - 25px + 50px);
  top:calc(310px - 50px);
  cursor: pointer;
}

.code_container {
  margin: 10px 25px 5px 25px;
  display: inline-grid;
  grid-column-gap: 25px;
  grid-template-columns: auto auto;
  grid-auto-rows: 1fr;
  justify-items: stretch;
  align-items: stretch;
  justify-content: space-evenly;
}

.code_block {
  display: inline-block;
}

.code_block pre {
  width: 100%;
  max-height: 200px;
  margin: 25px;
  overflow: auto;
  clear:both;
  display: inline-block;
}

.code_block span {
  font-size:0.75rem;
  text-align:center;
  width:100%;
  margin-top: 5px;
}

.content {
  margin: 20px;
  padding: 15px 5px 5px 5px;
  border-top: 1px solid #CCC;

}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: calc(100% - 20px);
  background-color: #aaa;
  color: white;
  text-align: right;
  padding-right: 20px;
}
